@import "https://cdn.simplecss.org/simple.css";

html > body {
  display: block;
  padding: 10px 50px;
}

body > header > *:only-child.small-margin {
  margin-block-start: 0;
}

body > header.header {
  margin-top: 0;
  padding: 0.5rem 2rem;
}

div.main {
  display: flex;
  flex-direction: row;
}

div.article-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}

.small-margin {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
}

.row-no-space, .row-small-space, .row-big-space {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row-small-space {
  gap: 10px;
}

.row-big-space {
  gap: 50px;
}

.low-height {
  height: 60px;
}

.big-icon {
  font-size: 50px;
}

.logo {
  width: auto;
  height: 90px;
}

.fill-up {
  display: flex;
  flex: 1 2 auto;
}

.no-margin {
  margin: 0;
}

div.article-entry {
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 35px;
  border-right: 1px solid #464444;
  border-bottom: 1px solid #464444;
  border-left: 1px solid #464444;
}

.article-entry:nth-child(3n) {
  border-right: none;
}

.article-image {
  max-height: min(80vw, 300px);
  margin: 10px 0;
}

.article-entry p {
  margin: 5px 5px 5px 0;
}

p#discount {
  background-color: red;
  width: fit-content;
  padding: 5px 10px;
}

.small-font {
  font-size: 16px;
}

.medium-font {
  font-size: 24px;
}

.article-entry.not-available :not(:has(#not-available)) {
  opacity: 0.2;
}

.article-entry.available #not-available {
  display: none;
}

.img-container {
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.article-entry.not-available .img-container #not-available {
  opacity: 1;
  align-self: center;
  position: absolute;
}

.article-entry.not-available #discount.hidden, p#discount.hidden {
  opacity: 0;
}

div.nav-buttons {
  margin-top: 30px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

div#subcategory-holder {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

div#sidebar {
  margin-right: 60px;
}

p.link {
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
  text-wrap: nowrap;
}