table.shopping-cart {
  width: 80%;
}

table.shopping-cart td {
  border-left: none;
  border-right: none;
  padding: 20px;
}

table.shopping-cart img {
  max-width: unset;
}

div.main {
  justify-content: center;
}

.delete {
  cursor: pointer;
}

div.main:has(.shopping-cart) {
  flex-direction: column;
  align-items: center;
}

div.price-calculation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 20%;
  margin-right: 10%;
  align-self: end;
}

div.price-calculation p {
  margin: 0;
}

div.price-calculation h3 {
  margin: 15px 0 0;
}